:root {
  --primary-text-color: #757575;
  --primary-dark-color: #212121;
  --secondary-dark-color: #000000;
  --accent-color: #2196f3;
  --primary-light-color: #ffffff;
  --background-dark-color: #2f303a;
  --background-light-color: #f5f5f5;
  --background-secondary-light: #f5f4fa;
  --accent-secondary-color: #188ce8;
  --secondary-light-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-card-color: #eeeeee;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-light-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
}

/*--------------------------HEADER---------------------------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid red;*/
}

.page-header {
  padding-top: 24px;
  border-bottom: 1px solid var(--border-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.nav-header,
.nav-list,
.header-container,
.contact-list {
  display: flex;
  align-items: center;
}

.header-container {
  justify-content: space-between;
}

.nav-list,
.contact-list {
  gap: 50px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-first {
  margin-right: 93px;
}
.logo-header {
  color: var(--secondary-dark-color);
}

.logo-footer {
  color: var(--primary-light-color);
}

.logo-second {
  display: inline-block;
  margin-bottom: 20px;
}

.list {
  list-style: none;
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
}

.nav-link,
.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link {
  color: var(--primary-dark-color);
  padding: 32px 0;
  transition: color 250ms var(--timing-function);
}

.contact-link {
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.link-current {
  color: var(--accent-color);
  position: relative;
}

.link-current::after {
  content: '';
  position: absolute;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.link {
  text-decoration: none;
}

/*--------------------HERO---------------------------*/
.main-section {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--background-dark-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  max-width: 696px;
  height: 120px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-light-color);
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 32px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--accent-secondary-color);
}

/*----------------НАШІ ПЕРЕВАГИ-------------------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-box {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--background-secondary-light);
  border-radius: 4px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-dark-color);
}

.content-titles {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.text {
  line-height: 1.71;
  color: var(--primary-text-color);
}

/*---------------------ЧИМ МИ ЗАЙМАЄМОСЯ-------------------------*/

.work-section {
  padding-top: 0px;
}

.work-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work-thumb {
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-light-color);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

/*------------------------------------НАША КОМАНДА-----------------------------*/

.section-team {
  background-color: var(--background-secondary-light);
}

.staff-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item {
  background-color: var(--primary-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc((100% -90px) / 4);
}

.staff-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-dark-color);
}

.staff-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-light-color);
}

/*---------------ПОСТІЙНІ КЛІЄНТИ------------------------*/

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*---------------------FOOTER---------------------------------*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-address {
  display: inline-block;
  line-height: 1.71;
  color: var(--primary-light-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-light-color);
  transition: color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.join-list {
  display: flex;
  gap: 10px;
}
.join-item {
  width: 44px;
  height: 44px;
}

.join-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-light-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.subscribe-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-color);
  margin-bottom: 20px;
}
.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: inherit;
  color: var(--primary-light-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
}

.subscribe-input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
}
.subscribe-button {
  min-width: 200px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  transition: background-color 250ms var(--timing-function);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--accent-secondary-color);
}

.subscribe-icon {
  vertical-align: middle;
  margin-left: 10px;
}

/*----------------------PORTFOLIO------------------------------*/
.works-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-dark-color);
}

.works-sub-title {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.button-portfolio {
  display: block;
  padding: 6px 22px;
  background: var(--background-secondary-light);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  border-radius: 4px;
  border: transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.cards-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 3);
}

.cards-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-wrap {
  position: relative;
  overflow: hidden;
}

.cards-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-light-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  overflow: hidden;
  transition: transform 250ms var(--timing-function);
}

.card-item:hover .cards-text,
.card-item:focus .cards-text {
  transform: translateY(0%);
}

.works-box {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
  background-color: rgba(255, 255, 255, 1);
}

.works-title {
  margin-bottom: 4px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 300ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--primary-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  margin-bottom: 12px;
}

.input-field {
  margin-bottom: 10px;
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}

.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  padding: 12px 2px 12px 42px;
}

.modal-input:focus,
.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-button {
  display: block;
  box-sizing: border-box;
  padding: 10px 52px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-secondary-color);
}

.policy-field {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.policy-label {
  display: flex;
  align-items: center;
}

.policy-icon {
  border: 2px solid var(--secondary-dark-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 7px;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.policy-link {
  color: var(--accent-color);
  margin-left: 3px;
}

.policy-input:checked + .policy-label > .policy-icon {
  background-color: var(--accent-color);
  border: #2196f3;
}
